/*** Slider Component

Mantras:
top -> bottom
left -> right
generic -> specific
std -> svg
CSS older -> newer

***/




.slider-container .ui-slider
{
    border-color: #9c9b9b;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
}
.slider-container .ui-slider-horizontal
{
    height: 8px;
}
.slider-container .ui-slider-vertical
{
    width: 8px;
}
.slider-container .ui-slider-horizontal
{
    background: #3d3d3d; /* Old browsers */
    background: -moz-linear-gradient(top,  #3d3d3d 0%, #555555 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#555555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3d3d3d 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3d3d3d 0%,#555555 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3d3d3d 0%,#555555 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3d3d3d 0%,#555555 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
}
.slider-container .ui-slider-vertical
{
    background: -moz-linear-gradient(180deg, #4f5456 0%, #343435 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 180deg, color-stop(0%, #4f5456), color-stop(100%, #343435));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(180deg, #4f5456 0%, #343435 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, #4f5456 0%, #343435 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, #4f5456 0%, #343435 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f5456', endColorstr='#343435', GradientType='1'); /* for IE */
    background: linear-gradient(270deg, #4f5456 0%, #343435 100%);/* W3C */
}

.slider-container .ui-slider .ui-slider-handle {
    background: url("../img/slider.png") no-repeat scroll 50% 50% transparent;
    color: #1C94C4;
    cursor: pointer;
    font-weight: bold;
    height: 24px;
    width: 24px;
    /* top: -4px; */
    margin-left: -12px;
    outline: medium none;
    position: absolute;
    z-index: 2;
    border: none;
}

.svg .slider-container .ui-slider .ui-slider-handle
{
    background: url("../img/slider.svg") no-repeat scroll 50% 50% transparent;
}
.slider-container .ui-slider-vertical .ui-slider-handle
{
    transform: rotate(270deg);
    left: 8px;
    margin-bottom: -13px;
}
    /* .ui-widget-header.ui-slider-range-min */
.slider-container .ui-slider-range
{
    border: none;
    border-radius: 0;
}
.slider-container .ui-slider-horizontal .ui-slider-range
{
    background: #558a25; /* Old browsers */
    background: -moz-linear-gradient(top,  #558a25 0%, #75bf34 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#558a25), color-stop(100%,#75bf34)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #558a25 0%,#75bf34 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #558a25 0%,#75bf34 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #558a25 0%,#75bf34 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #558a25 0%,#75bf34 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#558a25', endColorstr='#75bf34',GradientType=0 ); /* IE6-9 */
}
.slider-container .ui-slider-vertical .ui-slider-range
{
    background: -moz-linear-gradient(0deg, #558a25 0%, #75bf34 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(0%, #558a25), color-stop(100%, #75bf34));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #558a25 0%, #75bf34 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #558a25 0%, #75bf34 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #558a25 0%, #75bf34 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#558a25', endColorstr='#75bf34', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #558a25 0%, #75bf34 100%);/* W3C */
}

/* Slider: tick marks and labels */
.slider-container .ui-slider-tick-mark{
    /* display:inline-block; */
    /* background: #3B4548; */

    width:1px;
    height:5px;
    position:absolute;
    bottom:-9px;/* ui-slider-vertical will override this */
    left: -6px; /* ui-slider-horizontal will override this */
    text-align: center;
}
.slider-container .ui-slider-tick-mark-top,
.slider-container .ui-slider-tick-mark-bottom
{
    position:relative;
    /* background-color:transparent; */
    /* background-position: 50% 50%; */
    /* width: 11px; */
    /* height:11px; */
    /* background-image: url('../img/arrow_down.png'); */
}


.slider-container .ui-slider-tick-mark-top,
.slider-container .ui-slider-tick-mark-bottom
{
    background-image: url('../img/tick-mark.png');
    width: 11px; height: 11px;
}

.slider-container .ui-slider-horizontal .ui-slider-tick-mark-bottom{ background-position: 0 0;  }
.slider-container .ui-slider-horizontal .ui-slider-tick-mark-top{ background-position: -36px 0; }

.slider-container .ui-slider-vertical .ui-slider-mark-top { background-position: -12px 0;   width: 11px; height: 11px;}
.slider-container .ui-slider-vertical .ui-slider-tick-mark-bottom{ background-position: -24px 0;  width: 11px; height: 11px; }


.slider-container .ui-slider-horizontal .ui-slider-tick-mark-top
{
    margin-left: -5.5px;
    /* background-image: url('../img/arrow_up.png'); */
    top: -24px;
}
.slider-container .ui-slider-horizontal .ui-slider-tick-mark-bottom
{
    margin-left: -5.5px;
    /* background-image: url('../img/arrow_down.png'); */
    top: -14px;
}

.slider-container .ui-slider-vertical .ui-slider-tick-mark-top
{
    /* -moz-transform: rotate(90deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/\* FF3.5+ *\/ */
    /* -webkit-transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/\*Saf3.1+, Chrome*\/ */
    /* -o-transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/\* Opera 10.5 *\/ */
    /* -ms-transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/\* IE 9 *\/ */
    /* transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); */

    left: 15px;
    bottom: 0;
}
.slider-container .ui-slider-vertical .ui-slider-tick-mark-bottom
{
    /* -moz-transform: rotate(270deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/\* FF3.5+ *\/ */
    /* -webkit-transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/\*Saf3.1+, Chrome*\/ */
    /* -o-transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/\* Opera 10.5 *\/ */
    /* -ms-transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/\* IE 9 *\/ */
    /* transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); */

    left: 15px;
    bottom: 0;
}

/* SVG version of the tick marks: IE 8 doesn't support SVG nor transforms*/
.svg .slider-container .ui-slider-tick-mark-top,
.svg .slider-container .ui-slider-tick-mark-bottom
{
    background-image: url('../img/tick_mark.svg');
}
.svg .slider-container .ui-slider-horizontal .ui-slider-tick-mark-top
{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.svg .slider-container .ui-slider-vertical .ui-slider-tick-mark-top
{
    -moz-transform: rotate(90deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
    -webkit-transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
    -o-transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
    -ms-transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
    transform: rotate(90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);

    left: -5px;
}
.svg .slider-container .ui-slider-vertical .ui-slider-tick-mark-bottom
{
    -moz-transform: rotate(270deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
    -webkit-transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
    -o-transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
    -ms-transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
    transform: rotate(270deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);

    left: 15px;
    bottom: 11px;
}

.slider-container .ui-slider-tick-label{
    font-size: 10px;
    position: relative;
    text-align: center;
    width: 100px;
    /* color: #3B4548; */
}
.slider-container .ui-slider-horizontal .ui-slider-tick-label{
    left: -47px;
    bottom: 11px;
}
.slider-container .ui-slider-vertical .ui-slider-tick-label{
    bottom: 22px;
    right: 11px;
}

.slider-container .ui-slider-tooltip {
    /* position: absolute; */
    /* z-index: 1020; */
    /* display: block; */
    /* padding: 5px; */
    /* font-size: 11px; */
    /* visibility: visible; */
    /* margin-top: -2px; */
    /* bottom:120%; */
    /* left: -65px; */
    /* margin-left: -1.2em; */

    bottom: 30px;
    display: block;
    font-size: 11px;
    left: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    visibility: visible;
    width: 1px;
    z-index: 1020;
}

.slider-container .ui-slider-tooltip .ui-slider-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #E6E6E6;
    border-right: 5px solid  transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.slider-container .ui-slider-tooltip-inner {
    /* background: none; */
    /* color:#3B4548; */
    /* font-size: 20px; */
    /* text-align: center; */
    /* width: 150px; */
    background: none repeat scroll 0 0 transparent;
    color: #3B4548;
    font-size: 20px;
    left: -75px;
    position: relative;
    text-align: center;
    width: 150px;
 }

.slider-container .ui-slider-handle,
.slider-container .ui-slider-handle:link,
.slider-container .ui-slider-handle:visited,
.slider-container .ui-slider-handle:hover,
.slider-container .ui-slider-handle:active
{
    text-decoration:none;
}
