/* Slider */


/* borders, corners, etc */
.ui-slider
{
    border-color: #9c9b9b;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5); */   
}
.ui-slider-range{
    border-color: #9c9b9b;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


/* backgrounds */

.ui-slider-horizontal
{
    background: #3d3d3d; /* Old browsers */
    background: -moz-linear-gradient(top,  #3d3d3d 0%, #555555 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#555555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3d3d3d 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3d3d3d 0%,#555555 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3d3d3d 0%,#555555 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3d3d3d 0%,#555555 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
}
.ui-slider-vertical
{
    background: #3d3d3d; /* Old browsers */
    background: -moz-linear-gradient(left,  #3d3d3d 0%, #555555 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3d3d3d), color-stop(100%,#555555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #3d3d3d 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #3d3d3d 0%,#555555 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #3d3d3d 0%,#555555 100%); /* IE10+ */
    background: linear-gradient(to right,  #3d3d3d 0%,#555555 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#555555',GradientType=1 ); /* IE6-9 */

}


.ui-slider-horizontal .ui-slider-range
{
    background: #558a25; /* Old browsers */
    background: -moz-linear-gradient(top,  #558a25 0%, #75bf34 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#558a25), color-stop(100%,#75bf34)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #558a25 0%,#75bf34 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #558a25 0%,#75bf34 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #558a25 0%,#75bf34 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #558a25 0%,#75bf34 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#558a25', endColorstr='#75bf34',GradientType=0 ); /* IE6-9 */
}
.ui-slider-vertical .ui-slider-range
{
    background: #558a25; /* Old browsers */
    background: -moz-linear-gradient(left,  #558a25 0%, #75bf34 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#558a25), color-stop(100%,#75bf34)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #558a25 0%,#75bf34 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #558a25 0%,#75bf34 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #558a25 0%,#75bf34 100%); /* IE10+ */
    background: linear-gradient(to right,  #558a25 0%,#75bf34 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#558a25', endColorstr='#75bf34',GradientType=1 ); /* IE6-9 */

}



/*
.ui-slider-horizontal .ui-slider-range
{
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
*/

/*  Slider handle */
.ui-slider .ui-slider-handle
{    
    
    border-color: #9c9b9b;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5); */   


    /* top: -4px; */
    /* margin-left: -12px; */
    /*outline: medium none; */

    z-index: 2;
    border-style: none; /* disable border: comment this whole line for centering an image with .ui-slider-horizontal .ui-slider-handle */
}

.ui-slider-horizontal
{
    height: 8px;    
}
.ui-slider-vertical
{
    width: 8px;
    height: 300px;
}
.ui-slider-horizontal .ui-slider-handle
{
    /* position */
    top: -5px;
    /* box model */
    padding: 0;
    margin: 0;
}
.ui-slider-vertical .ui-slider-handle
{
    /* position */
    left: -5px;
    /* box model */
    padding: 0;
    margin: 0;
    
}

.ui-slider-horizontal .ui-slider-handle{
    background: url("img/slider_down.png") no-repeat scroll 50% 50% transparent;
    width: 24px;
    height: 24px;
    margin-left: -12px;
}
.ui-slider-vertical .ui-slider-handle{
    background: url("img/slider_right.png") no-repeat scroll 50% 50% transparent;
    overflow: visible;
    width: 24px;
    height:24px;
    margin-bottom: -13px;

}

.ui-slider-horizontal .ui-slider-ticks
{
    position: relative;
    width: 100%;
}
.ui-slider-vertical .ui-slider-ticks
{
    position: relative;
    height: 100%;
}

/* Slider: tick marks and labels */
.ui-slider-horizontal .ui-slider-tick-mark{
    /* display:inline-block; */
    /* background: #3B4548; */

    width:1px;
    height:5px;
    position:absolute;
    top:12px;
    text-align: center;
}
.ui-slider-tick-mark-top,
.ui-slider-tick-mark-bottom
{
     position: absolute;
}
.ui-slider-horizontal .ui-slider-tick-mark-top{
    background-image: url('img/arrow_down.png');
    background-color:transparent;
    background-position: 50% 50%;
    width: 11px;
    height:11px;
    top: -25px;
    left: -5px
}
.ui-slider-horizontal .ui-slider-tick-mark-bottom
{
    background-image: url('img/arrow_up.png');
    background-color: transparent;
    background-position: 50% 50%;
    width: 11px;
    height:11px;
    top: 2px;
    left: -5px;
}
.ui-slider-horizontal .ui-slider-tick-mark-bottom
{
    background-image: url('img/arrow_up2.svg');
    background-size: 11px 11px;
    background-repeat: no-repeat; 

    /*
    background-image: url('data:image/svg+xml;utf8,data:image/svg+xml;utf8,<svg class="shadow" xmlns="http://www.w3.org/2000/svg" version="1.1"><polygon points="100,0 200,200 0,200"/></svg>');
    
    background-size: 10px 10px;
    background-size: contain; 
background-image:  url('arrow_up.png');
background-image:  none,url('arrow_up.svg'), url('arrow_up.png');
background-size: 100% 100%; */

}

.ui-slider-vertical .ui-slider-tick-mark-top
{
    background-image: url('img/arrow_right.png');
    background-color:transparent;
    background-position: 50% 50%;
    width: 11px;
    height:11px;
    left: -14px;
    top: -5px;
} 
.ui-slider-vertical .ui-slider-tick-mark-bottom
{
    background-image: url('img/arrow_left.png');
    background-color:transparent;
    background-position: 50% 50%;
    width: 11px;
    height:11px;
    left: 14px;
    top: -5px;
}

.ui-slider-tick-label
{
    font-size: 12px;
    width: 100px;
    position: absolute;
}
.ui-slider-horizontal .ui-slider-tick-label
{
    
    left: -50px;
    top: 10px;
    text-align: center;
}
.ui-slider-vertical .ui-slider-tick-label
{
    left: 25px;
    top: -8px;
    text-align: left;
}



.tooltip {
    /* position: absolute; */
    /* z-index: 1020; */
    /* display: block; */
    /* padding: 5px; */
    /* font-size: 11px; */
    /* visibility: visible; */
    /* margin-top: -2px; */
    /* bottom:120%; */
    /* left: -65px; */
    /* margin-left: -1.2em; */

    bottom: 40px;
    display: block;
    font-size: 11px;
    left: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    visibility: visible;
    width: 1px;
    z-index: 1020;
}

.tooltip .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #E6E6E6;
    border-right: 5px solid  transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.tooltip-inner {
    /* background: none; */
    /* color:#3B4548; */
    /* font-size: 20px; */
    /* text-align: center; */
    /* width: 150px; */
    background: none repeat scroll 0 0 transparent;
    color: #3B4548;
    font-size: 20px;
    left: -75px;
    position: relative;
    text-align: center;
    width: 150px;
 }


